header.bg-rosaF.p-4 
    .container.mx-auto.flex.justify-between.items-center 
        a(href="/")
            h1.text-2xl.text-negro.font-extrabold.text-center Bienes 
                span.font-normal.text-vino Raíces

        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden") 
            a(href="/auth/registro" class="text-vino hover:text-rosaF") Crear cuenta 
            a(href="/auth/login" class="text-vino hover:text-rosaF") Iniciar Sesión

div(class="bg-rosaF py-5 hidden lg:block")
    div(class="container mx-auto flex justify-between")
        nav(class="flex gap-4 items-center") 
           a(href="/categorias/1" class="text-sm font-bold uppercase text-vino hover:text-rosaF") Casas
            a(href="/categorias/2" class="text-sm font-bold uppercase text-vino hover:text-rosaF") Departamentos
            a(href="/categorias/3" class="text-sm font-bold uppercase text-vino hover:text-rosaF") Bodegas
            a(href="/categorias/4" class="text-sm font-bold uppercase text-vino hover:text-rosaF") Terrenos
            a(href="/categorias/5" class="text-sm font-bold uppercase text-vino hover:text-rosaF") Cabañas

        form(action="/buscador" method="POST" class="flex gap-3 items-center") 
            input(type="hidden" name="_csrf" value= csrfToken)
            label(for="termino" class="text-sm uppercase font-bold text-blanco") Búsqueda 
            
            input(type="text" id="termino" name="termino" placeholder="Buscar propiedades" class="p-2 rounded-lg shadow text-sm rosaF")

            input(type="submit" class="bg-vino hover:bg-indigo-400 rounded-lg text-verde uppercase font-bold p-2 cursor-pointer text-sm" value="Buscar" )