header.bg-rosaF.p-4 
    .container.mx-auto.flex.justify-between.items-center 
        h1.text-2xl.text-blanco.font-extrabold.text-center Bienes 
            span.font-normal.verde Raíces

        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden") 
            a(href="/mis-propiedades" class="text-rosaF hover:text-blanco") Mis propiedades 
            a(href="/perfil" class="text-rosaF hover:text-blanco") Mi perfil
            
            form(action="/auth/cerrar-sesion" method="POST")  
                input(type="hidden" name="_csrf" value= csrfToken)
                input(type="submit" class="bg-rosaF hover:bg-verde py-2 px-10 rounded-lg text-blanco font-bold cursor-pointer" value="Cerrar Sesión")    
